body {
  font-family: 'Verdana', serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex: 0 0 auto;
  width: 800px;
  height: 800px;
}

.box {
  background-color: lightblue;
  border: 0.1px solid whitesmoke;
  box-sizing: border-box;
}

.hovered {
  background: lightyellow;
}

button {
  background: lightblue;
  border: none;
  margin: 1em;
  width: 100px;
  padding: 0.8em;
  font-size: 1.2em;
  color: white;
  border-radius: 0.2em;
  font-family: inherit;
}

button:hover {
 box-shadow: inset 0.1px 0.1px 10px 1px whitesmoke;
}